<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" opened='true' [attr.role]="'navigation'" [mode]="'side'">
        <mat-toolbar color="primary">
            Menu
        </mat-toolbar>

        <mat-nav-list style='padding-top:0px;' dense>
            <h3 matSubheader>Feeds</h3>
            <a mat-list-item routerLink='/data/ref'>
                <mat-icon>data_usage</mat-icon>
                <span style='margin-left: 10px;'>Reference</span>
            </a>
            <a mat-list-item routerLink='/data/balances'>
                <mat-icon>account_balance_wallet</mat-icon>
                <span style='margin-left: 10px;'>Balances</span>
            </a>
            <a mat-list-item routerLink='/data/positions'>
                <mat-icon>money</mat-icon>
                <span style='margin-left: 10px;'>Positions</span>
            </a>
            <a mat-list-item routerLink='/data/accounts'>
                <mat-icon>account_box</mat-icon>
                <span style='margin-left: 10px;'>Accounts</span>
            </a>
            <a mat-list-item routerLink='/data/products'>
                <mat-icon>description</mat-icon>
                <span style='margin-left: 10px;'>Products</span>
            </a>
            <a mat-list-item routerLink='/data/prices'>
                <mat-icon>euro_symbol</mat-icon>
                <span style='margin-left: 10px;'>Prices</span>
            </a>
            <a mat-list-item routerLink='/data/ref'>
                <mat-icon>lock</mat-icon>
                <span style='margin-left: 10px;'>B520</span>
            </a>
            <a mat-list-item routerLink='/data/rau'>
                <mat-icon>account_balance</mat-icon>
                <span style='margin-left: 10px;'>RAU</span>
            </a>
            <a mat-list-item routerLink='/data/fx' [class.disabled]='true'>
                <mat-icon>attach_money</mat-icon>
                <span style='margin-left: 10px;'>Fx</span>
            </a>
            <h3 matSubheader>Misc</h3>
            <a mat-list-item routerLink='/data/balances'>
                <mat-icon>contact_support</mat-icon>
                <span style='margin-left: 10px;'>Feedback</span>
            </a>
            <a mat-list-item routerLink='/data/positions'>
                <mat-icon>help</mat-icon>
                <span style='margin-left: 10px;'>Support</span>
            </a>
            <a mat-list-item routerLink='/data/positions'>
                <mat-icon>info</mat-icon>
                <span style='margin-left: 10px;'>About</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span style='margin-left: 10px;'>Bunnet</span>
            <span class="spacer"></span>
            <img class='ms-logo' src='assets/logo.png' />
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>