.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.tab-content {
  
}

table {
  width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
  height: 32px;
}

.ms-logo {
  width: 160px;
  filter: invert(100%);
}


.spacer {
  flex: 1 1 auto;
}

mat-list-item.disabled{
  cursor: not-allowed !important;
  opacity: 0.5;
  text-decoration: none;
}